<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>
    <body>
        <!--
        im copying this from the microsoft numpad cause it looks pretty good tbf
        https://www.microsoft.com/en-gb/d/new-microsoft-number-pad/8V4NH9Q07XC8/K9F8
         -->

        <!-- row 1 -->
        <button class="numpad-button" data-id="backspace">⌫</button>
        <button class="numpad-button" data-id="divide">/</button>
        <button class="numpad-button" data-id="multiply">*</button>
        <button class="numpad-button" data-id="minus">-</button>
        <br />
        <!-- row 2 -->
        <button class="numpad-button" data-id="7">7</button>
        <button class="numpad-button" data-id="8">8</button>
        <button class="numpad-button" data-id="9">9</button>
        <br />
        <!-- row 3 -->
        <button class="numpad-button" data-id="4">4</button>
        <button class="numpad-button" data-id="5">5</button>
        <button class="numpad-button" data-id="6">6</button>
        <button class="numpad-button" data-id="plus">+</button>
        <br />
        <!-- row 4 -->
        <button class="numpad-button" data-id="1">1</button>
        <button class="numpad-button" data-id="2">2</button>
        <button class="numpad-button" data-id="3">3</button>
        <br />
        <!-- row 5 -->
        <button class="numpad-button" data-id="0">0</button>
        <button class="numpad-button" data-id="decimal">.</button>
        <button class="numpad-button" data-id="enter">↵</button>
    </body>

    <!-- handle the buttons with JS -->
    <script>
        document.querySelectorAll(".numpad-button").forEach(button => {
            button.addEventListener("click", async () => {
                const buttonID = button.dataset.id;
                const response = await fetch("/button", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        id: buttonID
                    })
                });
                const data = await response.json();
                document.getElementById("output").textContent = data.message;
            });
        });
    </script>
</html>